mixin hero()
	.hero
		.hero__in
			h1.hero__title Бесплатный тест готовности к ЕГЭ
			p.hero__text Спрогнозируем, на сколько баллов вы сможете сдать ЕГЭ и посоветуем, как готовиться, чтобы улучшить результат.
