mixin section-why()
	.section.section_why.why
		.section__in
			h2.why__title Зачем вам эти курсы?
			.why__items
				.why__item
					.why__img
					h3.why__item-title Ученикам
					p.why__item-text Чтобы меньше волноваться перед ЕГЭ, стоит писать тесты чаще. За этот тест никто не будет ругать, и ты сможешь понять насколько все плохо. К тому же ты весело проведешь время — тест надо писать в центре Питера, туда всегда приятно съездить с друзьями.
				.why__item
					.why__img
					h3.why__item-title Родителям
					p.why__item-text Вы сможете понять, насколько ваш ребенок готов к ЕГЭ и по результатам теста спланировать подготовку. Если вы выбираете центр или репетитора, то сможете сравнить его с нами.

mixin section-developed()
	.section.section_developed.developed
		.section__in
			.developed__left
			.developed__right
				h2.developed__title Тесты разработаны нашими преподавателями
				.developed__text
					p В центре работает 37 педагогов: сотрудники СПБГУ, а также учителя школ и специализированных колледжей. Средний стаж нашего преподавателя — 14 лет. Наши преподаватели — сертифицированные эксперты ЕГЭ, они участвуют в проверке государственного экзамена и в курсе всех изменений.
					p В отличии от обычных тестов, наш тест учитывает прошел ли ученик весь материал ЕГЭ. Поэтому тестирование можно проходить с 10 класса.


mixin section-advantages()
	.section.section_advantages.advantages
		.section__in
			.advantages__left
				.advantages__img
				h2.advantages__title Быстрый результат
				.advantages__text
					p Тест занимает от 30 минут до 2 часов, в зависимости от предмета и уровня подготовки сдающего.
					p Мы проверяем тест сразу, результат вы получите через 20 минут и сможете забрать его домой.
			.advantages__right
				.advantages__img
				h2.advantages__title Тест полностью бесплатен
				.advantages__text
					p Мы тестируем любого нашего ученика, чтобы собирать группы по схожему уровню. Поэтому у нас уже есть готовые тесты на большинство случаев.
					p Нам не жалко поделится ими с вами совершенно бесплатно. Если после нашего знакомства вы решите продолжить обучение у нас — мы будем только рады.


mixin section-atmo()
	.section.section_atmo.atmo
		.section__in
			.atmo__left
				h2.atmo__title Дружественная атмосфера
				.atmo__text
					p Нам важно сохранять в центре приятную атмосферу, чтобы нашим ученикам было приятно приходить к нам снова и снова. Приходя на тест, вы сможете познакомится с администраторами, получить ответы на интересующие вопросы, увидеть аудитории центра. Мы рады и детям, и родителям. Приходите, у нас всегда есть горячий чай с печеньем.
			.atmo__right
				.atmo__img
