mixin map()
	.map
		.map__in
			.map__w
				h2.map__title Место проведения
				p.map__text Тест пишется очно, в образовательном центре <span>«Пять с плюсом».</span>
				p.map__address Адрес: Санкт-Петербург, Сапёрный переулок, дом 5.
				p.map__note С собой ничего брать не надо, бланки и ручку вам выдадут в тесте. Необходима предварительная запись.
		.map__area#map
