html,
body
	height 100%

.main
	min-height 100%
	margin-bottom -245px

* html
	.main
		height: 100%

.page__buffer
	height: 245px

.page
	font-family $pnR
	font-size 16px
	line-height 1.4
	letter-spacing tracking(-10)
	color $text-c
	background $bg-c
.in
	margin auto
	padding-right 10px
	padding-left 10px
	max-width 940px
	width 100%
	min-width 320px
	+r($d)
		padding-right 10px
		padding-left 10px

.button
	padding-top 1px
	padding-left 21px
	padding-right 24px
	padding-bottom 3px
	display inline-block
	vertical-align top
	font-size 20px
	text-align center
	line-height 1.2
	border-radius 11px
	border 1px solid #00c6ff


// titles
.title
	font-family $pnB
	font-size 30px
.title-h2
	font-family $pnB
	font-size 24px

// wysiwyg editor styles
.wysiwyg

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		font-family $pnB


	p
		margin-bottom 20px
		font-size 16px
		line-height 1.4
	// pre
	// 	margin-bottom 30px
	// 	padding-bottom 25px

	// em
	// 	font-family $fd


	// ul,
	// ol
	// 	margin-bottom 30px
	// li
	// 	margin-bottom 15px

	img
		max-width 100%
		height auto


