@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/pn/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../fonts/pn/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/pn/proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('../fonts/pn/proxima_nova_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/pn/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../fonts/pn/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../fonts/pn/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/pn/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$pnS = 'proxima_novasemibold', Arial,"Helvetica Neue",Helvetica,sans-serif
$pnR = 'proxima_nova_rgregular', Arial,"Helvetica Neue",Helvetica,sans-serif
$pnB = 'proxima_nova_rgbold', Arial,"Helvetica Neue",Helvetica,sans-serif
$pnE = 'proxima_novaextrabold', Arial,"Helvetica Neue",Helvetica,sans-serif
