extends /blocks/layout-default/layout-default

include ../blocks/header/header
include ../blocks/hero/hero
include ../blocks/section/section
include ../blocks/subjects/subjects
include ../blocks/map/map


block head
	- var pageTitle = 'Бесплатный тест готовности к ЕГЭ';

block content
	+header()
	+hero()
	+section-why()
	+section-developed()
	+section-advantages()
	+section-atmo()
	+subjects()
	+map()

