mixin header()
	.header
		.header__in
			.header__left
				a.header__logo.logo(href="/") Пять с плюсом - образовательный центр
			.header__right
				nav.header__nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href="#link-1") О центре
						li.nav__item
							a.nav__link(href="#link-2") Курсы
						li.nav__item
							a.nav__link(href="#link-3") Экстернат
						li.nav__item
							a.nav__link(href="#link-4") Доп. услуги
						li.nav__item
							a.nav__link(href="#link-5") Блог
						li.nav__item
							a.nav__link(href="#link-6") Контакты
				.header__contacts.contacts
					a.contacts__phone(href="tel:88126480066") 8 812 648-00-66
					.contacts__address Саперный переулок, дом 5

