mixin header()
	.header
		.header__in
			.header__left
				a.header__logo.logo(href="/") Пять с плюсом - образовательный центр
			.header__right
				nav.header__nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href="#link-1") 1 link
						li.nav__item
							a.nav__link(href="#link-2") 2 link
						li.nav__item
							a.nav__link(href="#link-3") 3 link
						li.nav__item
							a.nav__link(href="#link-4") 4 link
						li.nav__item
							a.nav__link(href="#link-5") 5 link
						li.nav__item
							a.nav__link(href="#link-6") 6 link
				.header__contacts.contacts
					.contacts__phone 8 812 648-00-66
					.contacts__address Саперный переулок, дом 5

